<header class="bg-white shadow">
    <div class="container mx-auto px-4 py-6 flex justify-between items-center">
        <div class="text-2xl font-bold text-gray-800" (click)="navigateTo('')">OMI NL </div>
        <nav class="space-x-4">
            <a routerLink="/inicio" class="text-gray-600 hover:text-gray-900">inicio</a>
            <a routerLink="/galeria" class="text-gray-600 hover:text-gray-900">Galeria</a>
            <a routerLink="/enlaces" class="text-gray-600 hover:text-gray-900">Enlaces</a>
            <a routerLink="/materiales" class="text-gray-600 hover:text-gray-900">Materiales</a>
            <a routerLink="/examenes" class="text-gray-600 hover:text-gray-900">Examenes</a>
        </nav>
    </div>
</header>
<div class="mt-6">
    <router-outlet></router-outlet>
</div>
