<!-- notas.component.html -->
<div class="container">
    <h1>Gestión de Archivos</h1>
  
    <!-- Formulario para subir archivos -->
    <div class="upload-section">
      <input type="file" (change)="onFileSelected($event)" />
      <button (click)="subirArchivo()">Subir Archivo</button>
    </div>
  
    <!-- Lista de archivos -->
    <div class="files-list">
      <h2>Mis Archivos</h2>
      <table>
        <thead>
          <tr>
            <th>Nombre del Archivo</th>
            <th>Fecha de Subida</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let archivo of archivos">
            <td>{{ archivo.filename }}</td>
            <td>{{ archivo.createdAt}}</td>
            <td>
              <button (click)="descargarArchivo(archivo.id, archivo.filename)">
                Descargar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  