<footer class="bg-gray-800 text-white py-8">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="mb-4 md:mb-0">
        <h5 class="text-lg font-bold mb-2">OMI NL</h5>
        <p class="text-sm">Olimpiada Nacional de Informática de Nuevo León</p>
      </div>
      <div class="flex space-x-6">
        <a routerLink="/inicio" class="text-gray-400 hover:text-gray-100">Inicio</a>
        <a routerLink="/galeria" class="text-gray-400 hover:text-gray-100">Galeria</a>
        <a routerLink="/enlaces" class="text-gray-400 hover:text-gray-100">Enlaces</a>
        <a routerLink="/materiales" class="text-gray-400 hover:text-gray-100">Materiales</a>
        <a routerLink="/examenes" class="text-gray-400 hover:text-gray-100">Examenes</a>
      </div>
    </div>
    <div class="mt-8 flex justify-center space-x-6">
      <a href="#" class="text-white hover:text-gray-400">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" class="text-white hover:text-gray-400">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="text-white hover:text-gray-400">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <div class="mt-8 text-center">
      <h5 class="text-lg font-bold mb-2">Contacto</h5>
      <p class="text-sm">Correo: contacto@ominl.mx</p>
      <p class="text-sm">Teléfono: (81) 1234-5678</p>
      <p class="text-sm">Pedro de Alba, Niños Héroes, Ciudad Universitaria, 66451 San Nicolás de los Garza, N.L.</p>
    </div>
    <div class="mt-4 text-center text-sm">
      <p>&copy; 2025 OMI NL. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
